body
{
    font-family: 'Lato', sans-serif;
    background: #161515;
    color: white;
}
.login_form h2
{
    font-size: 36px;
    margin-bottom: 30px;
}
.login_form
{
    text-align: center;
    margin: 300px auto 0 auto;
    width: 25%;
}
.login_form input
{
    box-sizing: border-box;
    height: 42px;
    width: 250px;
    font-size: 16px;
    padding: 10px 5px;
    border-radius: 10px;
    border: 2px solid #eaeaea;
    margin-top: 10px;
    color: #161516;
}
.login_form input:focus
{
    border: 2px solid #f4511e;
    outline-style: none;
}
.login_form button
{
    box-sizing: border-box;
    height: 42px;
    background:#f4511e;
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    font-size: 16px;
    padding: 10px 20px;
    opacity: 0.7;
}
.login_form button:focus
{
    outline-style: none;
    opacity: 30%;
}
.login_form button:hover
{
    cursor: pointer;
    transition: 0.4s;
    opacity: 1;
}
.login_form label
{
    font-size: 20px;
}
.footer
{
    color: #161515;
    position: fixed;
    background: #e0b24f;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 5px 0;
    text-align: center;
}