<!DOCTYPE html>
<html lang="en">
<!-- include header -->
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="main">
        <p class="test">Something will be here soon! :)<p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>