<%- include('./partials/head.ejs') %>
<body>  
    <div class="login_form"> 
        <form action="#">
            <h2>Sign in :)</h2>
            <label for="email"><input type="text" name="email" placeholder="email"/></label>
            <div class="email error"></div>
            <label for="password"><input type="password" name="password" placeholder="password"/></label>
            <div class="password error"></div>
            <button>Sign in</button>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
