<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <p class="test">I will add something here.</p>

    <%- include('./partials/footer.ejs') %>
</body>
</html>

