<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <p class="test">I will add something here.</p>
    <p class="test">But i think this line will be a problem.</p>


    <%- include('./partials/footer.ejs') %>
</body>
</html>
